.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}

.part-img {
	background: url('code-img.jpg');
	background-position: center bottom;
	height: 500px;
}

.img-text {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
}

.code-img {
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

.img-logo {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#image {
	position: relative;
	text-align: center;
	color: white;
}

.slideanim {visibility:hidden;}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
